.idea/
cmake-build-debug/
cmake-build-default/
cmake-build-minsizerel/
cmake-build-release/
cmake-build-relwithdebinfo/
build/
.*.swp
CMakeCache.txt
CMakeFiles
cmake_install.cmake
compile_commands.json
